<p-toast></p-toast>

<div class="admin-main">
	<p-card [header]="editMode ? 'Felhasználó szerkesztése': 'Felhasználó hozzáadása'"
		subheader="Itt új felhasználókat tudsz létrehozni vagy szerkeszteni!">
		<div class="grid">
			<div class="col-12">
				<p-toolbar>
					<div class="p-toolbar-group-right"></div>
					<div class="p-toolbar-group-right">
						<p-button styleClass="p-button-primary mr-4" [label]="editMode ? 'Szerkesztés': 'Hozzáadás'"
							icon="pi pi-plus" (click)="onSubmit()"></p-button>
						<p-button styleClass="p-button-secondary" label="Vissza" icon="pi pi-arrow-left"
							(click)="backClicked()"></p-button>
					</div>
				</p-toolbar>
			</div>
		</div>
		<div class="grid">
			<div class="col-12">
				<form [formGroup]="form">
					<div class="fluid formgrid grid">
						<div class="field col-4">
							<label for="name">Felhasználó Neve</label><br>
							<input formControlName="name" id="name" type="text" pInputText><br>
							<small *ngIf="userForm.name.invalid && isSubmitted" class="p-error">A név
								szükséges!</small>
						</div>
						<div class="field col-4">
							<label for="email">Email cím</label><br>
							<input formControlName="email" id="email" type="text" pInputText><br>
							<small *ngIf="userForm.email.invalid && isSubmitted" class="p-error">
								<span *ngIf="userForm.email.errors?.required">Az email szükséges</span>
								<span *ngIf="userForm.email.errors?.email">Az email helytelen</span>
							</small>
						</div>
						<div class="field col-4">
							<label for="password">Jelszó</label><br>
							<input formControlName="password" id="password" type="text" pInputText>
						</div>
						<div class="field col-4">
							<label for="phone">Telefonszám</label><br>
							<p-inputMask mask="99 99 999-9999" formControlName="phone"
								placeholder="06 70 123-4567"></p-inputMask><br>
							<small *ngIf="userForm.phone.invalid && isSubmitted" class="p-error">A telefonszám
								szükséges</small>
						</div>
						<div class="field col-4">
							<label for="isAdmin">Admin-e?</label><br>
							<p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
						</div>
					</div>
					<div class="fluid formgrid grid">
						<div class="field col-4">
							<label for="street">Utca</label><br>
							<input formControlName="street" id="street" type="text" pInputText>
						</div>
						<div class="field col-4">
							<label for="apartment">Házszám</label><br>
							<input formControlName="apartment" id="apartment" type="text" pInputText>
						</div>
						<div class="field col-4">
							<label for="zip">ZIP</label><br>
							<input formControlName="zip" id="zip" type="text" pInputText>
						</div>
						<div class="field col-4">
							<label for="city">Város</label><br>
							<input formControlName="city" id="city" type="text" pInputText>
						</div>
						<div class="field col-4">
							<label for="country">Ország</label><br>
							<p-dropdown [options]="countries" formControlName="country" optionLabel="name"
								optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
								placeholder="Válassz egy országot">
							</p-dropdown>
						</div>
					</div>
				</form>
			</div>
		</div>
	</p-card>
</div>