<p-toast></p-toast>
<div class="admin-main" *ngIf="order">
  <p-card
    [header]="'Rendelés Megtekintése'"
    subheader="Itt megtekintheted a rendelés részleteit"
  >
    <p-fieldset
      legend="Rendelés Részletei"
      styleClass="mb-4"
      [toggleable]="true"
    >
      <div class="grid">
        <div class="col-4">
          <h4>Rendelés azonosítója</h4>
          <p>{{ order.id }}</p>
        </div>

        <div class="col-4">
          <h4>Rendelés dátuma</h4>
          <p>{{ order.dateOrdered | date : 'short' }}</p>
        </div>

        <div class="col-4">
          <h4>Rendelés állapota</h4>
          <p-dropdown
            [options]="orderStatuses"
            optionLabel="name"
            optionValue="id"
            (onChange)="onStatusChange($event)"
            [(ngModel)]="selectedStatus"
          >
          </p-dropdown>
        </div>

        <div class="col-4">
          <h4>A rendelés teljes összege</h4>
          <p>{{ order.totalPrice + ' Ft' }}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset
      legend="Megrendelt Termékek"
      styleClass="mb-4"
      [toggleable]="true"
    >
      <div class="grid mb-5">
        <div class="col-3 p-text-bold">Termék név</div>
        <div class="col-2 p-text-bold">Kategória</div>
        <div class="col-3 p-text-bold">Ár</div>
        <div class="col-2 p-text-bold">Mennyiség</div>
        <!-- <div class="col-2 p-text-bold">Részösszeg</div> -->
      </div>
      <div class="grid mb-5" *ngFor="let orderItem of order.orderItems">
        <div class="col-3">
          {{ orderItem.product?.name + ' (' + orderItem.size + ' méret)' }}
        </div>
        <div class="col-2">{{ orderItem.product?.category?.name }}</div>
        <div class="col-3">{{ orderItem.product?.price + ' Ft' }}</div>
        <div class="col-2">{{ orderItem.quantity }}</div>
        <!-- <div class="col-2">{{ orderItem.product?.price * 2 | currency }}</div> -->
      </div>
      <div class="grid" style="color: green">
        <div class="col-2 p-offset-8 p-text-bold">
          Teljes összeg: {{ order.totalPrice + ' Ft' }}
        </div>
      </div>
    </p-fieldset>
    <p-fieldset
      legend="Szállítási Információk"
      styleClass="mb-4"
      [toggleable]="true"
    >
      <div class="grid">
        <div class="col-4">
          <h4>Szállítási Cím</h4>

          <p>
            <span style="color: red">{{ order.deliveryMethod }}</span> <br />
            {{ order.shippingAddress1 }}<br />
            {{ order.zip }} {{ order.city }}<br />
            {{ order.country }}
          </p>
        </div>

        <div class="col-4">
          <h4>Vásárló információi</h4>
          <p>{{ order.name }}</p>
        </div>

        <div class="col-4">
          <h4>Elérési lehetőségek</h4>
          <p>{{ order.phone }}</p>
          <p>{{ order.email }}</p>
        </div>
      </div>
    </p-fieldset>
  </p-card>
</div>
