.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;

  .min-max {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;

    .price-box {
      padding: 5px;
      background-color: var(--hover-grey);
      border-radius: var(--border-radius-md);
    }
  }
  .price-slider {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 90%;

    span {
      background-color: var(--sonic-silver);
    }

    .p-slider-horizontal .p-slider-handle {
      top: -150%;
    }

    .p-slider .p-slider-handle {
      height: 2.4rem;
      width: 2.4rem;
      border-width: 3px;
      background-color: white;
      border-color: var(--sonic-silver);
      margin-left: -1.2rem;

      &:focus {
        box-shadow: 0 0 0 0;
      }

      &:hover {
        box-shadow: 0 0 0 0.2rem var(--sonic-silver);
      }

      &:active {
        box-shadow: 0 0 0 0.3rem var(--sonic-silver);
      }
    }
  }
}

.filtertab {
  //padding-bottom: 16px;
  border-color: var(--hover-grey);
  border-radius: var(--border-radius-md);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 20px;
}

.filter-accordion {
  display: flex;
  width: 350px;
  justify-content: space-between;
  padding: 14px;
  //border-style: solid;
  border-width: 2px;
  border-color: var(--hover-grey);
  border-radius: var(--border-radius-md);

  &:hover {
    .arrow-img {
      background-color: var(--hover-grey);
      border-radius: var(--border-radius-round);
    }
  }

  span {
    font-size: 2.2rem;
  }
}
.color-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .color-box {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: var(--border-radius-round);
    border-color: var(--sonic-silver);
    border-style: solid;
    border-width: 1px;
  }
}
