<div class="admin-sidebar">
  <div class="logo">
    <a routerLink="/dashboard"
      ><img src="assets/images/logonew.svg" alt="Csodaásványok Logó"
    /></a>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard"><i class="pi pi-home"></i>Irányítópult</a>
      </li>
      <li>
        <a routerLink="/products"><i class="pi pi-briefcase"></i>Termékek</a>
      </li>
      <li>
        <a routerLink="/categories"><i class="pi pi-list"></i>Kategóriák</a>
      </li>
      <li>
        <a routerLink="/subcategories"
          ><i class="pi pi-filter"></i>Alkategóriák</a
        >
      </li>
      <li>
        <a routerLink="/minerals"><i class="pi pi-heart-fill"></i>Ásványok</a>
      </li>
      <li>
        <a routerLink="/benefits"
          ><i class="pi pi-heart-fill"></i>Ásv. Hatások</a
        >
      </li>
      <li>
        <a routerLink="/orders"
          ><i class="pi pi-shopping-cart"></i>Rendelések</a
        >
      </li>
      <li>
        <a routerLink="/users"><i class="pi pi-user"></i>Felhasználók</a>
      </li>
      <li>
        <a class="logout" (click)="logoutUser()"
          ><i class="pi pi-sign-out"></i>Kilépés</a
        >
      </li>
    </ul>
  </div>
</div>
