<div class="admin-main" *ngIf="statistics.length">
	<p-card header="Adat összegző panel" subheader="Legfrissebb információk">
		<div class="grid">
			<div class="col-3">
				<p-card styleClass="d-orders">
					<div class="d-item">
						<div>
							<i class="pi pi-shopping-cart"></i><br />
							<span class="name">Rendelések száma</span>
						</div>
						<span class="number">{{ statistics[0] }}</span>
					</div>
				</p-card>
			</div>
			<div class="col-3">
				<p-card styleClass="d-products">
					<div class="d-item">
						<div>
							<i class="pi pi-briefcase"></i><br />
							<span class="name">Termékek száma</span>
						</div>
						<span class="number">{{ statistics[1] }}</span>
					</div>
				</p-card>
			</div>
			<div class="col-3">
				<p-card styleClass="d-users">
					<div class="d-item">
						<div>
							<i class="pi pi-users"></i><br />
							<span class="name">Regisztrált felhasználók</span>
						</div>
						<span class="number">{{ statistics[2] }}</span>
					</div>
				</p-card>
			</div>
			<div class="col-3">
				<p-card styleClass="d-totalsales">
					<div class="d-item">
						<div>
							<i class="pi pi-dollar"></i><br />
							<span class="name">Összes bevétel</span>
						</div>
						<span class="number">{{ statistics[3] + " Ft" }}</span>
					</div>
				</p-card>
			</div>
		</div>

		<p>Hamarosan...</p>
	</p-card>
</div>