<footer>
	<div class="footer-container">
		<div class="container">
			<div class="footer-tervezo">
				<p>Tervezd meg saját ékszereid!</p>
				<a href="tervezo.html" class="tervezo-button">Irány az ékszer tervező</a>
			</div>
			<hr>
			<ul>
				<li>
					<p class="footer-title">MENÜ</p>
					<a href="#">Karkötők</a>
					<a href="#">Nyakláncok</a>
					<!-- <a href="#">Gyűrűk</a> -->
					<a href="#">Ásványok</a>
					<a href="#">Dekorációk</a>
					<a href="#">Blog</a>
					<a href="#">Történetünk</a>
					<a href="#">Felhasználói fiók</a>
					<a href="#">Írj nekünk!</a>
				</li>
				<li>
					<p>SEGÍTSÉG</p>
					<a href="#">Fizetés és Szállítás</a>
					<a href="#">Gyakran ismételt kérdések</a>
					<a href="#">Méret segédlet</a>
					<a href="#">ÁSZF</a>
					<a href="#">Adatkezelési tájékoztató</a>
					<a href="#">Cookie beállítások</a>
				</li>
				<li>
					<p>ELÉRHETŐSÉGEINK</p>
					<a href="#">info@csodaasvanyok.hu</a>
					<div class="footer-social-media">
						<a href="#">
							<img src="assets/images/icons/logo-facebook.svg" alt="Facebook">
							<p>Facebook</p>
						</a>
						<a href="#">
							<img src="assets/images/icons/logo-instagram.svg" alt="Instagram">
							<p>Instagram</p>
						</a>
						<a href="#">
							<img src="assets/images/icons/logo-tiktok.svg" alt="TikTok">
							<p>TikTok</p>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</footer>