<p-toast></p-toast>

<div class="admin-main">
	<p-card [header]="editMode ? 'Ásvány szerkesztése': 'Ásvány hozzáadása'"
		subheader="Itt új ásványokat tudsz létrehozni vagy szerkeszteni!">
		<div class="grid">
			<div class="col-12">
				<p-toolbar>
					<div class="p-toolbar-group-right"></div>
					<div class="p-toolbar-group-right">
						<p-button styleClass="p-button-primary mr-4" [label]="editMode ? 'Szerkesztés': 'Hozzáadás'"
							icon="pi pi-plus" (click)="onSubmit()"></p-button>
						<p-button styleClass="p-button-secondary" label="Vissza" icon="pi pi-arrow-left"
							(click)="backClicked()"></p-button>
					</div>
				</p-toolbar>
			</div>
		</div>
		<div class="grid">
			<div class="col-12">
				<form [formGroup]="form">
					<div class="card">
						<div class="formgrid grid">
							<div class="field col-2">
								<label for="name">Ásvány Neve</label><br>
								<input formControlName="name" id="name" type="text"
									class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"><br>
								<small *ngIf="mineralForm.name.invalid && isSubmitted" class="p-error">A név
									szükséges!</small>
							</div>
							<div class="field col-6">
								<label for="description">Leírás</label><br>
								<textarea rows="10" cols="100" formControlName="description" pInputTextarea
									[autoResize]="true"></textarea><br>
								<small *ngIf="mineralForm.description.invalid && isSubmitted" class="p-error">A leírás
									szükséges</small>
							</div>
							<div class="field col-3">
								<label for="benefit">Hatások</label>
								<p-multiSelect [options]="benefits" formControlName="benefit" optionLabel="name"
									optionValue="id" [showClear]="true"
									placeholder="Válassz minimum 1 hatást"></p-multiSelect>
								<small *ngIf="mineralForm['benefit'].invalid && isSubmitted" class="p-error">A hatás
									szükséges!</small>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</p-card>
</div>