<header>

	<div class="overlay" data-overlay #overlay></div>

	<div class="header-top">
		<div class="container">
			<div class="header-shipping-info">
				<p>Ingyenes házhozszállítás</p>
			</div>
		</div>
	</div>

	<!-- #region Main Header -->
	<div class="header-main">
		<div class="container">
			<div class="container-left">
				<div class="hamburger-menu">
					<button class="action-btn" data-mobile-menu-open-btn>
						<img src="assets/images/icons/menu.svg" alt="hamburger-menu">
					</button>
				</div>

				<div class="search-icon-left">
					<button class="action-btn" data-mobile-menu-open-btn>
						<img src="assets/images/icons/search.svg" alt="search-icon">
					</button>
				</div>

				<div class="products-button">
					<span class="action-btn">
						<p>TERMÉKEK</p>
						<img src="assets/images/icons/product-arrow.svg" class="product-arrow" alt="product-arrow">
					</span>
				</div>

				<div class="background-layer"></div>

				<nav class="desktop-navigation-menu">

					<!-- Kollekciók -->
					<ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a class="menu-title">NÉPSZERŰEK 🔥 (HAMAROSAN)</a>
							<div class="dropdown-panel">
								<ul class="dropdown-panel-list">
									<li class="panel-list-item"><a routerLink="termekek/teli-kollekcio"
											class="hover-underline-animation">Téli
											kollekció ❄️</a>
									</li>
									<li class="panel-list-item"><a routerLink="termekek/szerelmesek-kollekcio"
											class="hover-underline-animation">Szerelmesek kollekciója 💕</a></li>
									<li class="panel-list-item"><a routerLink="termekek/horoszkop-kollekcio"
											class="hover-underline-animation">Horoszkóp
											kollekció ♋</a></li>
									<li class="panel-list-item"><a routerLink="termekek/akcios-termekek"
											class="sale-products hover-underline-animation">Akciós
											termékek 📣</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>

					<!-- Karkötők -->
					<ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a routerLink="termekek/osszes-karkoto" class="menu-title">KARKÖTŐK</a>
							<div class="dropdown-panel">
								<ul class="dropdown-panel-list">
									<li class="panel-list-item"><a routerLink="termekek/osszes-karkoto"
											class="hover-underline-animation">Összes karkötő</a>
									</li>
									<li class="panel-list-item"><a routerLink="termekek/noi-karkotok"
											class="hover-underline-animation">Női
											karkötők</a></li>
									<li class="panel-list-item"><a routerLink="termekek/ferfi-karkotok"
											class="hover-underline-animation">Férfi
											karkötők</a></li>
									<li class="panel-list-item"><a routerLink="termekek/paros-karkotok"
											class="hover-underline-animation">Páros
											karkötők</a></li>
								</ul>
							</div>
						</li>
					</ul>

					<!-- NYAKLÁNCOK -->
					<!-- <ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a href="#" class="menu-title">NYAKLÁNCOK</a>
							<div class="dropdown-panel">
								<ul class="dropdown-panel-list">
									<li class="panel-list-item"><a href="#" class="hover-underline-animation">Összes
											nyaklánc</a></li>
									<li class="panel-list-item"><a href="#" class="hover-underline-animation">Női
											nyakláncok</a></li>
									<li class="panel-list-item"><a href="#" class="hover-underline-animation">Férfi
											nyakláncok</a></li>
									<li class="panel-list-item"><a href="#" class="hover-underline-animation">Páros
											nyakláncok</a></li>
								</ul>
							</div>
						</li>
					</ul> -->

					<!-- Marokkövek -->
					<ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a routerLink="termekek/marokkovek" class="menu-title">MAROKKÖVEK</a>
							<a routerLink="termekek/marokkovek"><img src="assets/images/marokkovek.jpg" alt="Marokkő"
									class="marokko-img-navbar"></a>
						</li>
					</ul>

					<!-- DEKORÁCIÓK -->
					<ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a href="#" class="menu-title">DEKORÁCIÓK</a>
						</li>
					</ul>
				</nav>

			</div>

			<a href="index.html"><img src="assets/images/logo/logonew.svg" class="logo" alt="Logo" width="100px"
					height="100px"></a>

			<div class="container-right">
				<div class="search-icon-right">
					<button class="action-btn" data-mobile-menu-open-btn>
						<img src="assets/images/icons/search.svg" alt="search-icon">
					</button>
					<p>KERESÉS</p>
				</div>

				<div class="favorite-icon">
					<button class="action-btn" data-mobile-menu-open-btn>
						<img src="assets/images/icons/favorite.svg" alt="my-favorites">
					</button>
					<p>KEDVENCEK</p>
				</div>

				<div class="shopping-bag">
					<button class="action-btn">
						<img src="assets/images/icons/shopping_bag.svg" alt="shopping-cart">
						<span class="count">0</span>
					</button>
					<p>KOSÁR</p>
				</div>

				<div class="account-icon">
					<button class="action-btn" data-mobile-menu-open-btn>
						<img src="assets/images/icons/person.svg" alt="account-icon">
					</button>
					<p>FIÓK</p>
				</div>
			</div>
		</div>
	</div>
	<!-- #endregion Main Header -->

	<!-- #region Mobile Navigation -->
	<nav class="mobile-navigation-menu" data-mobile-menu>

		<div class="menu-top">
			<h2 class="menu-title">Termékek</h2>

			<button class="menu-close-btn" data-mobile-menu-close-btn>
				<img src="assets/images/icons/close-button.svg" alt="X">
			</button>
		</div>

		<ul class="mobile-menu-category-list">

			<!-- NEW -->
			<li class="menu-category">
				<button class="accordion-menu" data-accordion-btn>
					<p class="menu-title">Népszerűek 🔥</p>

					<div>
						<img class="sidebar-open-btn" src="assets/images/icons/add-outline.svg" alt="Add">
						<img class="sidebar-close-btn" src="assets/images/icons/remove-outline.svg" alt="Remove">
					</div>
				</button>

				<ul class="submenu-category-list" data-accordion>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/teli-kollekcio"
							class="submenu-title">Téli
							kollekció ❄️</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/szerelmes-kollekcio"
							class="submenu-title">Szerelmesek kollekciója 💕</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/horoszkop-kollekcio"
							class="submenu-title">Horoszkóp
							kollekció ♋</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/akcios-termekek"
							class="submenu-title sale-products">Akciós
							termékek 📣</a></li>
				</ul>
			</li>

			<!-- MAN'S -->
			<li class="menu-category">
				<button class="accordion-menu" data-accordion-btn>
					<p class="menu-title">Karkötők</p>

					<div>
						<img class="sidebar-open-btn" src="assets/images/icons/add-outline.svg" alt="Add">
						<img class="sidebar-close-btn" src="assets/images/icons/remove-outline.svg" alt="Remove">
					</div>
				</button>

				<ul class="submenu-category-list" data-accordion>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/osszes-karkoto"
							class="submenu-title">Összes
							karkötő</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/noi-karkotok"
							class="submenu-title">Női
							karkötők</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/ferfi-karkotok"
							class="submenu-title">Férfi
							karkötők</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="termekek/paros-karkotok"
							class="submenu-title">Páros
							karkötők</a></li>
					<li class="submenu-category"><a data-mobile-menu-close-btn routerLink="karkoto-tervezo"
							class="submenu-title">Karkötő
							tervező</a>
					</li>
				</ul>
			</li>

			<!-- WOMEN's -->
			<li class="menu-category">
				<button class="accordion-menu" data-accordion-btn>
					<p class="menu-title">Nyakláncok</p>

					<div>
						<img class="sidebar-open-btn" src="assets/images/icons/add-outline.svg" alt="Add">
						<img class="sidebar-close-btn" src="assets/images/icons/remove-outline.svg" alt="Remove">
					</div>
				</button>

				<ul class="submenu-category-list" data-accordion>
					<li class="submenu-category"><a href="#" class="submenu-title">Összes nyaklánc</a></li>
					<li class="submenu-category"><a href="#" class="submenu-title">Női nyakláncok</a></li>
					<li class="submenu-category"><a href="#" class="submenu-title">Férfi nyakláncok</a></li>
					<li class="submenu-category"><a href="#" class="submenu-title">Páros nyakláncok</a></li>
					<li class="submenu-category"><a href="#" class="submenu-title">Nyaklánc tervező</a></li>
				</ul>
			</li>

			<!-- DECORATION -->
			<li class="menu-category"><a routerLink="termekek/marokkovek" class="menu-title">Marokkövek</a></li>

			<!-- MINERALS -->
			<li class="menu-category"><a href="#" class="menu-title">Dekorációk</a></li>

			<!-- AKCIO -->
			<li class="menu-category"><a href="#" class="menu-title sale-products">Akciós termékek 📣</a>
			</li>

			<!-- BUILDER -->
			<li class="menu-category"><a href="tervezo.html" class="menu-title ">Ékszer tervező</a>
			</li>

			<!-- BLOG -->
			<li class="menu-category"><a href="#" class="menu-title">Blogunk</a></li>
		</ul>

		<div class="menu-bottom">
			<ul class="menu-category-list">

				<p>Ne maradj le semmiről</p>

				<img src="assets/images/icons/down-arrow.svg" class="down-arrow" alt="Down arrow">


				<!-- SOCIALS -->
				<ul class="menu-social-container">
					<li>
						<a href="#" class="social-link">
							<img src="assets/images/icons/logo-facebook.svg" alt="Facebook">
						</a>
					</li>
					<li>
						<a href="#" class="social-link">
							<img src="assets/images/icons/logo-instagram.svg" alt="Instagram">
						</a>
					</li>
					<li>
						<a href="#" class="social-link">
							<img src="assets/images/icons/logo-tiktok.svg" alt="TikTok">
						</a>
					</li>
				</ul>
			</ul>
		</div>
	</nav>
	<!-- #endregion Mobile Navigation -->

</header>